$border: #ebebeb;

.product__details__tab {
    padding-top: 85px;

    .nav-tabs {
        border-bottom: none;
        justify-content: center;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            top: 12px;
            height: 1px;
            width: 370px;
            background: $border;
            content: "";
        }

        &:after {
            position: absolute;
            right: 0;
            top: 12px;
            height: 1px;
            width: 370px;
            background: $border;
            content: "";
        }

        li {
            margin-bottom: 0;
            margin-right: 65px;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 16px;
                color: #999999;
                font-weight: 700;
                border: none;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                padding: 0;
            }
        }
    }

    .product__details__tab__desc {
        padding-top: 44px;

        h6 {
            font-weight: 700;
            color: #333333;
            margin-bottom: 26px;
        }

        p {
            color: #666666;
        }
    }
}

.nav-tabs {
    .nav-item {
        a {
            cursor: pointer;
        }
    }
}
