.blog__sidebar__recent {
    &__item {
        display: block;
        overflow: hidden;
        margin-bottom: 20px;
        text-decoration: none;

        &:last-child {
            margin-bottom: 0;
        }

        &__pic {
            float: left;
            margin-right: 20px;
        }

        &__text {
            overflow: hidden;

            h6 {
                font-weight: 700;
                color: #333333;
                line-height: 20px;

                width: 70%;
                margin-bottom: 5px;
            }

            span {
                font-size: 12px;
                color: #999999;
                text-transform: uppercase;
            }
        }
    }
}
